.admin-container {
  display: flex;
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar h2 {
  text-align: center;
  padding: 10px;
  background: #444;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #555;
}

.main-content {
  margin-left: 260px;
  padding: 20px;
  width: 100%;
}
