.tabs div {
    color: #fff; /* Change text color to white for better contrast */
    font-size: 2rem;
    padding: 25px; /* Adjust padding for a more extended appearance */
    flex: 1; /* Keeps the tabs taking equal space */
    text-align: center;
    border: none; /* Removes borders */
    background: #333; /* Darker background for tabs */
    margin: 10px; /* Adds margin for space between buttons */
}

.tabs div:hover {
    background-color: #0056b3; /* Maintains hover effect */
    border-radius: 5px;
}
